* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*=============================================
=                 TYPOGRAPHY                  =
=============================================*/
* {
  font-family: "Open Sans";
  color: #f9f9f9; }

h1 {
  font-size: 1.5em;
  font-weight: 200;
  color: #CF7C7A; }

h2 {
  font-size: 1.8em;
  font-weight: 700;
  color: #CF7C7A; }

h3 {
  font-size: 1.5em;
  font-weight: 200;
  padding-bottom: 6px;
  text-align: center;
  color: #CF7C7A; }

p {
  font-size: 1.1em;
  font-weight: 200; }

a {
  font-size: 1em;
  color: #CF7C7A;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

span {
  font-weight: 600; }

footer p {
  font-size: 0.9em; }

.built a, strong {
  font-size: 0.9em;
  font-weight: 200; }
  .built a:hover, strong:hover {
    text-decoration: underline; }

.fa-heart {
  font-size: 12px;
  color: #fc2d23; }

.fa-free-code-camp {
  padding: 0 5px 0 0;
  color: #CF7C7A; }

/*=============================================
=                 HTML STYLES                 =
=============================================*/
html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 36px;
  min-height: 100%;
  background-color: #2A2F5D; }

main {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px; }

header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(20, 28, 60, 0.7);
  border-bottom: 2px solid rgba(8, 10, 25, 0.2); }

nav {
  max-width: 920px;
  height: 56px;
  margin: 0 auto;
  display: table;
  text-align: center; }

.logo {
  display: table-cell;
  vertical-align: middle; }

#search {
  text-align: center;
  margin: 400px, auto, 200px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.moveBottom {
  margin: 150px 0 80px; }

.moveTop {
  margin: 30px 0; }

input[type=text] {
  width: 90%;
  border: none;
  font-size: 26px;
  font-weight: 400;
  background-size: 40px;
  background-position: -5px 14px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  text-transform: uppercase;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-color: rgba(36, 44, 93, 0.1);
  border-bottom: 1px solid #080a19;
  background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png"); }

input[type=text]:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #080a19; }

::-webkit-input-placeholder {
  color: #CF7C7A;
  text-transform: capitalize;
  padding: 5px 2px 2px 0px; }

:-moz-placeholder {
  color: #CF7C7A;
  opacity: 1;
  text-transform: capitalize; }

::-moz-placeholder {
  color: #CF7C7A;
  opacity: 1;
  text-transform: capitalize; }

:-ms-input-placeholder {
  color: #CF7C7A;
  text-transform: capitalize; }

input {
  -webkit-appearance: none; }

button, input[type=submit] {
  display: inline;
  margin: 20px 10px;
  padding: 6px 14px;
  font-weight: 200;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border: 1px solid #010101;
  background-color: rgba(26, 33, 69, 0.2); }
  button:hover, input[type=submit]:hover {
    background-color: rgba(26, 33, 69, 0.6); }

article {
  margin: 16px 0;
  padding: 10px;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  overflow-wrap: break-word;
  border: 2px solid #080a19;
  background-color: rgba(26, 33, 69, 0.2); }
  article:hover {
    background-color: rgba(26, 33, 69, 0.6); }

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6px;
  width: 100%;
  display: table;
  text-align: center;
  position: absolute;
  background: #222746; }

.built {
  color: #c8c8c8;
  display: table-cell;
  vertical-align: middle; }

/*=============================================
=                 MEDIA QUERIES               =
=============================================*/
/* -- BREAK 1 -- */
@media only screen and (max-width: 600px) {
  p {
    font-size: 0.9em; }
  h2 {
    font-size: 1.5em; }
  h3 {
    font-size: 1.2em; } }
