* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}


/*=============================================
=                 TYPOGRAPHY                  =
=============================================*/

* {
	color: #1f1f1f;
	font-family: "Open Sans";
}

h1 {
	font-size: 1.5em;
	font-family: "Open Sans";
	font-weight: 200;
	color: rgba(207, 124, 122, 1.0);
}

h1 span {
	color: rgba(207, 124, 122, 1.0);
	font-weight: 700;
}

h2,
a {
	font-size: 1.8em;
	font-family: "Open Sans";
	font-weight: 400;
	color: rgba(207, 124, 122, 1.0);
	padding-bottom: 6px;
    &:hover {
        text-decoration: none;
    }
}

h2,
a span {
	color: rgba(207, 124, 122, 1.0);
	font-weight: 700;
}

p {
	font-size: 1.2em;
	font-family: "Open Sans";
	font-weight: 200;
	color: #f9f9f9;
	padding-bottom: 15px;
	strong {
		color: #f9f9f9;
	}
}

p span {
	font-family: helvetica;
	color: #f9f9f9;
	font-size: 1.2em;
	font-weight: 400;
}

h4 {
	font-size: 1.2em;
	font-family: "Open Sans";
	font-weight: 400;
	text-align: right;
	em {
		font-style: italic;
		color: #6f6f6f;
	}
}

footer p {
	font-family: "Open Sans";
	font-size: 0.9em;
	padding-top: 14px;
	font-weight: 300;
	strong {
		color: #f9f9f9;
	}
}

a {
	font-size: 1em;
}

.built a,
strong {
	padding: 0;
	margin: 0;
	color: #f9f9f9;
	text-decoration: none;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
    font-weight:200;
}

a:hover {
	text-decoration: none;
}

i {
	color: #1f1f1f;
}

.fa-heart {
	font-size: 12px;
	color: #fc2d23;
}

button {
	display: block;
	margin: 20px auto;
	padding: 6px 14px;
	color: #f9f9f9;
    font-weight: 200;
	border: 1px solid rgba(1, 1, 1, 1.0);
	border-radius: 2px;
	font-size: 18px;
	background-color: rgba(26, 33, 69, 0);
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	&:hover {
		background-color: rgba(26, 33, 69, 0.6);
		border: 1px solid rgba(2, 2, 2, 1.0);
	}
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	background-color: rgba(35, 43, 94, 1.0);
}

main {
	margin: 0 auto;
	padding-top: 64px;
	max-width: 640px;
	width: 94%;
}

header {
	height: 56px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: rgba(20, 28, 60, 0.7);
}

nav {
	max-width: 920px;
	height: 56px;
	margin: 0 auto;
	text-align: center;
    display: table;
}

.logo {
	display: table-cell;
	vertical-align: middle;
}


article {
	margin: 16px 0;
	padding: 10px;
    border: 2px solid rgba(8, 10, 25, 1.0);
	background-color: rgba(26, 33, 69, 0.2);
    border-radius: 2px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
    &:hover {

	background-color: rgba(26, 33, 69, 0.6);
    }
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

// ---- Search ---- //
#search {
	text-align: center;
	margin: 400px, auto, 200px;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.moveBottom {
    margin: 150px 0 80px;
}

.moveTop {
	margin:30px 0;
}

input[type=text] {
	width: 90%;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid rgba(8, 10, 25, 1.0);
	font-size: 26px;
	color: #f9f9f9;
	font-family: "Open Sans";
	font-weight: 400;
	background-color: rgba(36, 44, 93, 1.0);
	background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png');
	background-size: 40px, 40px;
	background-position: -5px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	text-transform: uppercase;
}

input[type=text]:focus {
	outline: none;
	border: none;
	border-bottom: 1px solid rgba(8, 10, 25, 1.0);
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: rgba(207, 124, 122, 1.0);
	text-transform: capitalize;
	padding: 5px 2px 2px 0px;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: rgba(207, 124, 122, 1.0);
	opacity: 1;
	text-transform: capitalize;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: rgba(207, 124, 122, 1.0);
	opacity: 1;
	text-transform: capitalize;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgba(207, 124, 122, 1.0);
	text-transform: capitalize;
}

footer {
	background: rgba(26, 32, 70, 1.0);
	display: table;
	width: 100%;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.built {
	display: table-cell;
	vertical-align: middle;
	color: #c8c8c8;
}


/*=============================================
=                 MEDIA QUERIES               =
=============================================*/


/* -- BREAK 1 -- */

@media only screen and (max-width: 600px) {}